.git
.env
.env.example
.editorconfig
.gitignore
.gitattributes
.styleci.yml
.php-cs-fixer.dist.php
.php-cs-fixer.cache
/node_modules
/vendor
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
tests/
.github/

